* {
    margin: 0;
    border: border-box;
    color:  rgb(242, 235, 235);
}

.head {
    background-color:  rgb(219, 9, 9);
    display: flex;
    width: 100%;
    height: 40px;
    padding: 10px 0px 10px 10px;
    justify-content: space-between;
    font-family: 'Arial';
}

.options {
    display: flex;
}

.head1 {
    padding-top: 12px;
    display: flex;
    font-size: 1.15rem;
}

.head2 {
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 22px;
    display: flex;
    font-weight: bold;
    font-size: 1rem;
}

.head3 {
    padding-right: 10px;
}

i {
    padding-left: 10px;
    padding-right: 10px; 
}

.head2:hover {
    font-size: 1.2rem;
}

.black-text {
    color: black;
    text-align: center; /* Center the text horizontally */
    font-size: 44px; /* Adjust font size as needed */
    margin-top: 290px; /* Pull the text down by 50px */
}

body {
    overflow-x: hidden; 
    background-color: #f2f2eb ;
}
.additional-text {
    text-align: center; /* Center-align the text */
    font-size: 24px; /* Increased font size */
    margin-top: 10px; /* Top margin */
    color: black; /* Text color */
    font-style: normal; /* No italic */
}