<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Sent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/style/clock.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">

    <style>
       *{
    margin: 0;
    border: border-box;
    
}
      .head{
    background-color:  rgb(219, 9, 9);
    display: flex;
    width: 100%;
    height: 40px;
    padding: 10px 0px 10px 10px;
    justify-content: space-between;
    font-family: 'Arial';
}
.options{
    display: flex;
}
.head1{
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
    font-size: 1.15rem;
    color:  rgb(242, 235, 235)
    
}
.main{
    display: flex;
}
.head2{
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 22px;
    display: flex;
    font-weight: bold;
    font-size: 1rem;
}

.head3{
   padding-right: 10px;
}
i{
    padding-left: 10px;
    padding-right: 10px; 
}
.head2:hover{
    font-size: 1.2rem;
}


    </style>
</head>
<body>
    <header>
        <div class="head">
          <div class="head1">
            <i class="fa-solid fa-heart-pulse fa-lg" style="color:  rgb(242, 235, 235); padding-top: 10px;"></i>
            <h4 class="head4">Blood Bank Management System</h4>
          </div >
          <div class="options">
          <div class="head2">
            <i class="fa-solid fa-house-chimney" style="color:  rgb(242, 235, 235);"></i>
           <a href="/" class="head3" style="text-decoration: none; color:  rgb(242, 235, 235);">Home</a>
           </div>
           <div class="head2">
            <i class="fa-solid fa-user-tie" style="color: rgb(242, 235, 235);"></i>
            <a href="/login" class="head3" style="text-decoration: none; color:  rgb(242, 235, 235);">Logout</a>
            
           </div>
         </div>
        </div>
    </header>
    
    <div class="content">
      <div style="text-align: center; margin-top: 60px; size: 100px; align-items: center; ">
        <img src="/images/file.png" alt="icon" style="vertical-align: middle; width: 100px;">
      </div>
      <p style="margin-top:15px; text-align: center;"

      class="black-text">Your Request has been sent!</p>
      <p class="additional-text">You will shortly receive an email once it is approved.</p>
    </div>
    
</body>
</html>
