<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="clock.css">
</head>
<body>
    <header>
        <div class="head">
          <div class="head1">
            <i class="fa-solid fa-heart-pulse fa-lg" style="color:  rgb(242, 235, 235); padding-top: 10px;"></i>
            <h4 class="head4">Blood Bank Management System</h4>
          </div >
          <div class="options">
          <div class="head2">
            <i class="fa-solid fa-house-chimney" style="color:  rgb(242, 235, 235);"></i>
            <p class="head3">Home</p>
           </div>
           <div class="head2">
            <i class="fa-solid fa-user-tie" style="color: rgb(242, 235, 235);"></i>
            <p class="head3">Log in</p>
           </div>
         </div>
        </div>
    </header>
    
    <div class="content">
      <div style="text-align: center; margin-top: 60px; size: 100px; align-items: center; ">
        <img src="file.png" alt="icon" style="vertical-align: middle; width: 100px;">
      </div>
      <p style="margin-top:15px; text-align: center;"

      class="black-text">Your Request has been sent!</p>
      <p class="additional-text">You will shortly receive an email once it is approved.</p>
    </div>
    
</body>
</html>
