<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="/style/welcome.css">
        <title>Blood Bank Management System</title>
</head>
<body>
<header>
            <div class="head">
                <div class="head1">
                    <i class="fa-solid fa-heart-pulse fa-lg" style="color:  rgb(242, 235, 235); padding-top: 10px;"></i>
                    <h4 class="head4">Blood Bank Management System</h4>
                </div>
                <div class="head2">
                    <i class="fa-solid fa-house-chimney" style="color:  rgb(242, 235, 235);"></i>
                    <a href="/" class="head3" no_underline>Home</a>
                </div>
                <div class="head2">
                    <i class="fa-solid fa-user-tie" style="color: rgb(242, 235, 235);"></i>
                    <a href="/login" class="head3" no_underline>Log in</a>
                </div>
            </div>
</header>
    <div class="heropart">
        <div class="hero">
          <div class="heropic"></div>
        </div>
        <div class="contents">
            <h1 class="heading1">"Be  the  reason </h1>
            <h1 class="heading2">  for  someone's </h1>
            <h1 class="heading3">    heartbeat</h1> <h1 class="heading1">." </h1>
           
        </div>
    </div>
    
        <div class="footer">
            <div class="mainpart">
            <div class="about">
                <h1 class="about1">About Us</h1>
                <p class="about2">Welcome to Blood Bank Management System, 
                    where saving lives is our highest priority. We are committed to creating
                    a reliable and accessible network for blood donation and distribution, ensuring donors'
                    and recipients' safety and well-being. We are dedicated to fostering a community of 
                    generosity and support, where every contribution makes a significant impact. </p>
            </div>
            <div class="imagepart1">
                <div class="image1"></div>
            </div>
            </div>
            <div class="mainpart">
                <div class="imagepart2">
                    <div class="image2"></div>
                </div>
            <div class="mission"> <h1 class="mission1">Our Mission</h1>
            <p class="mission2">At Blood Bank Management System Name, Our mission is to bridge the gap between donors willing 
                to give the gift of life and patients in urgent need of blood. By facilitating a 
                seamless and efficient blood donation and distribution process, we strive to improve
                 health outcomes and ensure that no one has to wait for a life-saving transfusion.</p>
            </div>
            </div>
            <div class="mainpart">
            <div class="join"> <h1 class="join1">Join Us </h1>
                <p class="join2">Become a part of our mission to save lives. Whether you choose to donate blood,
                 volunteer, or spread the word, your involvement makes a crucial difference. 
                 Start today by registering on our platform or contacting us for more information.</p>
            </div>
            <div class="imagepart3">
                <div class="image3"></div>
            </div>
            </div>
            <hr class="horizon"></hr>
            <div class="endpart">
                <h1 class="end"> Together, we can make a life-saving difference.</h1>
            </div>
        </div>
            <div class="box">
                <div class="box4">
                <div class="box1">
                    <h4 class="detail">About</h4>
                <div class="end1">
                
                    <i class="fa-solid fa-phone" style="color:rgb(206, 201, 201);"></i>
                    <p class="detail">+92 3004389541</p>
                </div>
                <div class="end2">
                    <i class="fa-solid fa-location-dot" style="color: rgb(206, 201, 201);"></i>
                    <p class="detail"> Karachi,Pakistan</p>
                </div>
                </div>
                <div class="box3">
                    <h4 class="detail">Follow Us</h4>
                <div class="box2">
                    <i class="fa-brands fa-twitter" style="color:  rgb(206, 201, 201);"></i>
                    <i class="fa-brands fa-facebook" style="color:  rgb(206, 201, 201);"></i>
                    <i class="fa-brands fa-instagram" style="color:  rgb(206, 201, 201);"></i>
                </div>
                </div>
            </div>
                <hr class="horizon"></hr>
                <p class="Copy">Copyright 2024. All Rights Reversed.</p>
            </div>
            
        
            

    
</body>
</html>